
/* Regla o enunciado css (todo)*/
/* selector {bloque}*/
body {
    /* declaracion(linea) */
    /* propiedad : valor */
    background: green;
    color: white;
}

/* variable css */
:root {
    -color: green;
}

body {
    background: var(-color);
    margin: 10px;
}

h1 {
    background: white;
    color: var(-color);
}