
@mixin tamanoImagen( $w, $h ) {
    display: grid;
    grid-template-columns: repeat($w,1fr);
    grid-template-rows: repeat($h,1fr);
    position: relative;
    &::before {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}

.container{
    margin: 10%;
}

.img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.img {
    @include tamanoImagen(3, 2);
    background-color: gray;
    background: url("https://www.fonditos3d.com/800x600/imagen-de-playa-3d.jpg") center / cover;
    
    @media screen and (min-width: 900px) {
        background: url("https://www.freejpg.com.ar/asset/900/ac/ac2a/F100005465.jpg") center / cover;
    }

    @media screen and (min-width: 1600px) {
        background: url("https://th.bing.com/th/id/R5fce9446a039cf01f9f9c181a7d38649?rik=TUsYRWNGsByXsQ&riu=http%3a%2f%2fwww.fonditos3d.com%2fImagenes%2fatardecer-3d.jpg&ehk=GeT29jF2W48PIiKFkadX278J2zcBPNCaHZQVCIDui3M%3d&risl=&pid=ImgRaw") center / cover;
    }
}