
/* caja de texto simple responsive */
.content1 {
    margin: 0 auto;
    background-color: green;
    width: 80%;
    min-width: 400px;
}

/* em: Unidades relativas al contexto (ancentro mas cercano con tamaño de fuente definido)
    rem: Unidades relativas a la raíz/root (html) */
section {
    font-size: 20px;
}

.content2 {
    background-color: lightskyblue;
    /* 1em = 40px */
    font-size: 2em;
}
.span-1 {
    /* 1em = 80px */
    font-size: 2em;
}

.span-2 {
    /* 1em = 32px (ya que la raiz tiene font-size de 16px) */
    font-size: 2rem;
}